# Build Directories
Build/
BuildTest/
packages/
nupkgs/
bin/
obj/
out/

outputs/
python/outputs/

# User-specific Files
*.user
*.suo
*.sln.docstates
*.userprefs
.vagrant
.vs

# Test & Analysis Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
TestResults.xml
coverage.*
*.dotCover
*.psess
*.vsp
*.vspx
*.lnt
*.svclog
*.log

# Caches
_ReSharper*
_TeamCity*
*.[Rr]e[Ss]harper
*.ide/
*.[Cc]ache
*.ncb
*.sdf
*.aps
*.opensdf
*.opendb
*.cachefile
*.swp
*.txt
*.dnn

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Upgrades
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
*.bak
*.orig

# OS
$RECYCLE.BIN/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
